.navigation-bar a 
{
  text-decoration: none; 
  color: black ;
  font-family: sans-serif; 
  font-weight: 550;  
  font-size: 1.75rem; 
}
.navigation-bar a:active
{
  color: aqua; 
}
.navigation-bar
{
  border-bottom: 3px solid aqua;  
  max-width: 50%;
  display: flex; 
  justify-content: space-around; 
  position: relative;
  left: 25%; 
  padding: 20px; 
}
.dropdown-content
{
  
  position: absolute;
  border: 3px solid aqua;
  top: 72px;   
}
.dropdown-content li 
{
  list-style: none; 
  padding: 10px 10px 10px 0px; 
}